<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBD" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:83/WCF_BD.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IBD" contract="WCF.IBD"
        name="BasicHttpBinding_IBD" />
    </client>
  </system.serviceModel>
  <appSettings>
    <add key="ACTUALIZAR_ACTIVIDAD" value="dbo.SP_Actualizar_Actividad" />
    <add key="BORRAR_ACTIVIDAD" value="dbo.SP_Borrar_Actividad" />
    <add key="FILTRAR_ACTIVIDAD" value="dbo.SP_Filtrar_Actividad" />
    <add key="INSERTAR_ACTIVIDAD" value="dbo.SP_Insertar_Actividad" />
    <add key="LISTAR_ACTIVIDAD" value="dbo.SP_Listar_Actividad" />
   
	<add key="ACTUALIZAR_DISCO" value="dbo.SP_Actualizar_Disco" />
    <add key="BORRAR_DISCO" value="dbo.SP_Borrar_Disco" />
    <add key="FILTRAR_DISCO" value="dbo.SP_Filtrar_Disco" />
    <add key="INSERTAR_DISCO" value="dbo.SP_Insertar_Disco" />
    <add key="LISTAR_DISCO" value="dbo.SP_Listar_Disco" />
   
	<add key="ACTUALIZAR_EQUIPO" value="dbo.SP_Actualizar_Equipo" />
    <add key="BORRAR_EQUIPO" value="dbo.SP_Borrar_Equipo" />
    <add key="FILTRAR_EQUIPO" value="dbo.SP_Filtrar_Equipos" />
    <add key="INSERTAR_EQUIPO" value="dbo.SP_Insertar_Equipo" />
    <add key="LISTAR_EQUIPO" value="dbo.SP_Listar_Equipos" />
	  
    <add key="ACTUALIZAR_ESTADO" value="dbo.SP_Actualizar_Estado" />
    <add key="BORRAR_ESTADO" value="dbo.SP_Borrar_Estado" />
    <add key="FILTRAR_ESTADO" value="dbo.SP_Filtrar_Estado" />
    <add key="INSERTAR_ESTADO" value="dbo.SP_Insertar_Estado" />
    <add key="LISTAR_ESTADO" value="dbo.SP_Listar_Estado" />
	  
    <add key="ACTUALIZAR_MEMORIA" value="dbo.SP_Actualizar_Memoria" />
    <add key="BORRAR_MEMORIA" value="dbo.SP_Borrar_Memoria" />
    <add key="FILTRAR_MEMORIA" value="dbo.SP_Filtrar_Memoria" />
    <add key="INSERTAR_MEMORIA" value="dbo.SP_Insertar_Memoria" />
    <add key="LISTAR_MEMORIA" value="dbo.SP_Listar_Memorias" />
	  
    <add key="ACTUALIZAR_MONITOR" value="dbo.SP_Actualizar_Monitor" />
    <add key="BORRAR_MONITOR" value="dbo.SP_Borrar_Monitor" />
    <add key="FILTRAR_MONITOR" value="dbo.SP_Filtrar_Monitor" />
    <add key="INSERTAR_MONITOR" value="dbo.SP_Insertar_Monitor" />
    <add key="LISTAR_MONITOR" value="dbo.SP_Listar_Monitor" />
	  
    <add key="ACTUALIZAR_OTROS" value="dbo.SP_Actualizar_Otros" />
    <add key="BORRAR_OTROS" value="dbo.SP_Borrar_Otros" />
    <add key="FILTRAR_OTROS" value="dbo.SP_Filtrar_Otros" />
    <add key="INSERTAR_OTROS" value="dbo.SP_Insertar_Otros" />
    <add key="LISTAR_OTROS" value="dbo.SP_Listar_Otros" />
	  
    <add key="ACTUALIZAR_RATON" value="dbo.SP_Actualizar_Raton" />
    <add key="BORRAR_RATON" value="dbo.SP_Borrar_Raton" />
    <add key="FILTRAR_RATON" value="dbo.SP_Filtrar_Raton" />
    <add key="INSERTAR_RATON" value="dbo.SP_Insertar_Raton" />
    <add key="LISTAR_RATON" value="dbo.SP_Listar_Ratones" />
	  
    <add key="ACTUALIZAR_TECLADO" value="dbo.SP_Actualizar_Teclado" />
    <add key="BORRAR_TECLADO" value="dbo.SP_Borrar_Teclado" />
    <add key="INSERTAR_TECLADO" value="dbo.SP_Insertar_Teclado" />
    <add key="LISTAR_TECLADOS" value="dbo.SP_Listar_Teclados" />
    <add key="FILTRAR_TECLADOS" value="dbo.SP_Filtrar_Teclados" />
	  
    <add key="ACTUALIZAR_TORRE" value="dbo.SP_Actualizar_Torre" />
    <add key="BORRAR_TORRE" value="dbo.SP_Borrar_Torre" />
    <add key="FILTRAR_TORRE" value="dbo.SP_Filtrar_Torres" />
    <add key="INSERTAR_TORRE" value="dbo.SP_Insertar_Torre" />
    <add key="LISTAR_TORRE" value="dbo.SP_Listar_Torres" />
	  
    <add key="ACTUALIZAR_USUARIO" value="dbo.SP_Actualizar_Usuario" />
    <add key="BORRAR_USUARIO" value="dbo.SP_Borrar_Usuario" />
    <add key="FILTRAR_USUARIO" value="dbo.SP_Filtrar_Usuario" />
    <add key="INSERTAR_USUARIO" value="dbo.SP_Insertar_Usuario" />
    <add key="LISTAR_USUARIO" value="dbo.SP_Listar_Usuario" />

	<add key="ACTUALIZAR_DISTRIBUCION" value="dbo.SP_Actualizar_Distribucion" />
    <add key="BORRAR_DISTRIBUCION" value="dbo.SP_Borrar_Distribucion" />
    <add key="FILTRAR_DISTRIBUCION" value="dbo.SP_Filtrar_Distribucion" />
	<add key="INSERTAR_DISTRIBUCION" value="dbo.SP_Insertar_Distribucion" />
	<add key="LISTAR_DISTRIBUCION" value="dbo.SP_Listar_Distribucion" />

	<add key="ACTUALIZAR_EMPLEADO" value="dbo.SP_Actualizar_EMPLEADO" />
    <add key="BORRAR_EMPLEADO" value="dbo.SP_Borrar_EMPLEADO" />
    <add key="FILTRAR_EMPLEADO" value="dbo.SP_Filtrar_EMPLEADO" />
    <add key="INSERTAR_EMPLEADO" value="dbo.SP_Insertar_EMPLEADO" />
	<add key="LISTAR_EMPLEADO" value="dbo.SP_Listar_EMPLEADO" />
  </appSettings>
</configuration>